
@media (min-width: 768px)
{
.ltn__slide-item-2 .slide-title {
    font-size: 40px;
	 line-height:50px;
}
}

@media (max-width: 767px)
{
.ltn__slide-item-2 .slide-title {
    //font-size: 40px;
	 line-height:40px;
}
}